# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml